* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #243010;
    color: #CAD593;
}

.destaque-titulo {
    color: #87A330;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}
